/* CSS by Aakiem Philippe*/
/* April 19th 2019 */

body {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 15px;
	margin: 0;
	padding: 0;
	line-height: 2em;
	color: #fff;
	background-color: #A639FF;
	padding: 0 40px 0 40px;
}

/* text ----------------------------  */
p {
	letter-spacing: 0.1em;
	color: #fff;
	margin: 0px;
	background-color: #D48CFF;
	padding: 20px;
}
h1 {
	font-size: 28px;
	padding: 0px;
	font-variant: small-caps;
	letter-spacing: .8em;
	line-height: 2em;
	margin: 0px;
	padding: 20px;
	
}
h2 {
	font-size: 20px;
	padding: 0px;
	letter-spacing: 0.5em;
	background-color: #D48CFF;
	margin: 0px;
	padding: 20px;
}

/* links ---------------------------- */
a:link {
	font-weight: bold;
	color: #000;
	
}
a:visited {
	font-weight: bold;
	color: #000;
	
}
a:hover {
	color: #fff;
}

/* lists ----------------------------- */
ul li {
	
	margin-left: 12px;
	margin-bottom: 0px;
}
ol {
	margin-left: 14px;
	margin-bottom: 0px;
}

/* table -------------------------------------- */
table {
	border: solid #000 1px;
}
td {
	padding: 6px;
	border: solid #000 1px;
}
th {
	font-weight: bold;
	
	text-align: center;
	padding: 6px;
	border: solid #000 1px;
}

/* borders ------------------------------------ */
hr {
	border: solid #fff 3px;
}

img {
	border: solid #fff 3px;
	margin: 0px;

}
iframe {
	border: solid #fff 3px;
	padding: 0px;
	margin: 8px;
}
/* DIV STYLES FOR PAGE LAYOUT*/
#container{
	width: 900px;
	margin: 0 auto;
	border: 3px solid #fff;
	padding: 40px 40px;
	background-color: #D48CFF;
	overflow: hidden;
}
#header{
	width: 900px;
}
#content{
	width: 900px;
	float: left;
}
#footer{
	width: 900px;
	
}
#sidebar{
	width: 450px;
	float: right;
}
#sidebar p{
	border: 1px solid #fff;
	border-radius: 12px;
	box-shadow: 10px 10px 5px #fff;
	background: #A639FF;
}